/* body-fonts */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
}
/* main-section-styles */
#container{
    width: 100%;
}
.top-banner{
    width: 1000px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 80px;
    padding: 50px 10px 0px 10px;
    border-radius: 15px;
}
.banner-info{
    width: 400px;
    margin-left: 100px;
    margin-top: 30px;
}
.banner-info h1{
    color: white;
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 600;
}
.banner-info p{
    color: #979797;
    line-height: 17px;
    margin-bottom: 30px;
}
.watch-btn{
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 10px 15px;
    background-color: #DD0000;
    border-radius: 5px;
    transition: all .5s;
}
.watch-btn:hover{
    background-color: #8e2221;
    cursor: pointer;
}
.banner-image img{
    width: 350px;
    margin-right: 90px;
}

/* top-banner-styless */

.all-items{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.match-blog-section{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    padding: 20px;
    margin-left: 40px;
    background-color: black;
    border-radius: 15px;
}
.match-blog-section a{
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.match-blog-section .match-btn1{
    background-color: white;
    color: black;
}
.match-blog-section .match-btn{
    background-color: #e04747;
    color: white;
    transition: .5s;
}
.match-btn:hover{
    background-color: #bc2525;
    cursor: progress;
}

/* ready box styles */

.main-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}
.box{
    width: 240px;
    height: 310px;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
}
.box-info{
    margin-top: 20px;
    width: 100%;
    margin-left: 20px;
}
.box-image img{
    width: 100%;
}
.box-info a{
    padding: 5px 20px;
    color: rgb( 141, 141, 141);
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}
.box-info h3{
    font-size: 15px;
    margin-bottom: 20px;
}
.box-icon{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.box-icon:last-child .icon1{
    margin-right: 40px;
}
.icon1{
    display: flex;
    align-items: center;
}
.icon1 p{
    margin-left: 10px;
}

/* footer part */

footer{
    height: 400px;
    width: 100%;
    background-color: black;
}
footer h1{
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 80px 0px 30px 0px;

}
footer hr{
    width: 70%;
    margin: auto;
}
.about{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.about p{
    color: white;
    font-weight: 400;
    margin: 0px 20px;
}
.social-icon{
    text-align: center;
    margin-top: 30px;
}
.social-icon a{
    text-decoration: none;
    margin: 0px 30px;
    color: white;
    font-size: 15px;
}
.all-image{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.image-team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    width: 250px;
    height: 250px;

}

/* match schedule htmls */

.match-schedule-match{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
  
    margin-right: 20px;
    padding: 10px;
    grid-gap: 15px;
    
   
    
}
.upcoming-match{
    display: flex;
    flex-wrap: wrap;
   
    align-items: center;
}
.text{
    grid-column: 1/-1;
    text-align: center;
}
.boxes{
    text-align: center;
}

/* all groups csss */

.view-group h1{
text-align: center;
color: blue;
}
.view-group p{
    text-align: center;
}
.view-group img{
    width: 100%;
}

/* responsive for mobile */

@media only screen and (max-width:688px) {
    body{
     width: 100%;
     height: 100%;
     overflow-x: hidden;
     align-items: center;
    } 

    .top-banner{
        width: 100vh;
        width: 500px;
        display: block;
        align-items: center;
        margin-left: 50px;
        margin-top: 50px;
    }
    .banner-info{
        width: 300px;
        margin-bottom: 30px;
        margin: auto;
        text-align: center;
    }
    .banner-image img{
        width: 350px;
        margin-left: 100px;
        margin-top: 60px;
    }
    .all-items{
        display: block;
        align-items: center;
        margin: auto;
    }
    .match-blog-section{
        width: 500px;
        margin-left: 50px;
        background-color: white;
        text-align: center;
    }
    .match-blog-section a{
        width: 70%;
        margin: auto;
        border: 1px solid rgb(151, 151, 151);
    }
    .match-blog-section a:last-child{
        width: 40%;
    }
    .main-box{
        display: block;
    }
    .box{
        width: 500px;
        height: 450px;
        margin-top: 30px;
        margin-left: 60px;
    }
    footer{
        width: 600px;
        height: 100%;
        margin-top: 80px;
    }
    .about{
        display: block;
        text-align: center;
    }
    .about p{
        margin-bottom: 30px;
    }
    .social-icon{
        padding-bottom: 30px;
    }
 }
 @media only screen and (min-width:689px) and (max-width:992px) {
    .top-banner{
        width: 100%;
        margin: 10px 10px 20px 20px;
        margin-left: 0px;
    }
    .top-banner img{
        width: 200px;
        position: relative;
        left: 70px;
        top: -10px;
    }
    .banner-info{
        position: relative;
        left: -40px;
    }
    .banner-info h1{
        position: relative;
        top: -10px;
        left: -30px;
        font-size: 25px;
    }
    .banner-info p{
        position: relative;
        top: -10px;
        left: -30px;
        font-size: 10px;
    }
    .banner-info a{
        padding: 2px 4px 2px 4px;
        justify-content: center;
        top: -150px;
       
    }
    .all-items{
        display:inline-block;
    }
    .match-blog-section{
        display: flex;
        flex-direction: row;
        height: 50px;
        width: 670px;
        margin: 5px 5px;
        padding: 30px 30px;
    }
    .match-schedule-match a{
        margin: 10px 20px;
        padding: 20px;

    }
    .match-schedule-match a p{
        position: relative;
        left: -5px;
    }
    .match-schedule-match .match-btn1{
        position: relative;
        left: -5px;
    }
    .match-schedule-match .match-btn{
        position: relative;
        left: -5px;
    }
    .main-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;
        margin-left: 60px;
    }
    footer{
        width: 100%;
        height: 500px;

    }
    .social-icon{
        position: relative;
        left: 315px;
    }
 }